html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

:root {
  --squares-size: 5rem;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#board {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(var(--squares-size) * 8);
  height: calc(var(--squares-size) * 8);
}

.rows {
  display: flex;
  flex-direction: row;
}

.squares {
  width: var(--squares-size);
  height: var(--squares-size);
}

.squares.selected {
  box-sizing: border-box;
  border: 2px solid green;
}

.squares.selected.cant-move {
  box-sizing: border-box;
  border: 2px solid red;
}

.rows:nth-child(odd) .squares:nth-child(odd),
.rows:nth-child(even) .squares:nth-child(even) {
  background: #ffcf9f;
}

.rows:nth-child(odd) .squares:nth-child(even),
.rows:nth-child(even) .squares:nth-child(odd) {
  background: #d28c45;
}

#board .rows .squares.possible-move {
  background-color: green;
}

.pieces,
img {
  width: var(--squares-size);
  height: var(--squares-size);
}

.lost-pieces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lost-pieces-zone {
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--squares-size) * 4);
  height: calc(var(--squares-size) * 4);
}

#start-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 5rem;
}

#start-button.game-started {
  display: none;
}

.player-turn {
  position: absolute;
}

.player-turn.white {
  bottom: 5%;
}

.player-turn.black {
  position: absolute;
  top: 5%;
}

.player-turn-black-text {
  display: none;
  color: black;
  font-size: 2rem;
}

.player-turn-white-text {
  display: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2rem;
}

.player-turn.white .player-turn-white-text {
  display: block;
}

.player-turn.black .player-turn-black-text {
  display: block;
}
