html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

:root {
  --squares-size: 5rem;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#board {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: calc(var(--squares-size) * 8);
  height: calc(var(--squares-size) * 8);
}

.rows {
  display: flex;
  flex-direction: row;
}

.squares {
  position: relative;
  width: var(--squares-size);
  height: var(--squares-size);
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.squares.selected .border {
  position: absolute;
  border: 0.4rem solid green;
}

.squares.selected.cant-move .border {
  border: 0.4rem solid red;
}

.rows:nth-child(odd) .squares:nth-child(odd),
.rows:nth-child(even) .squares:nth-child(even) {
  background: #ffcf9f;
}

.rows:nth-child(odd) .squares:nth-child(even),
.rows:nth-child(even) .squares:nth-child(odd) {
  background: #d28c45;
}

.possible-moves {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--squares-size) * 0.5);
  height: calc(var(--squares-size) * 0.5);
  background-color: green;
  animation: zomin-zoomout 1s infinite alternate ease-in-out;
}

.pieces,
img {
  position: relative;
  width: var(--squares-size);
  height: var(--squares-size);
}

.lost-pieces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lost-pieces-zone {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: calc(var(--squares-size) * 4);
  height: calc(var(--squares-size) * 4);
}

#start-button {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%);
  font-size: 5rem;
}

#start-button.game-started {
  display: none;
}

.player-turn {
  position: absolute;
}

.player-turn.white {
  bottom: 5%;
}

.player-turn.black {
  position: absolute;
  top: 5%;
}

.player-turn-black-text {
  display: none;
  color: black;
  font-size: 2rem;
}

.player-turn-white-text {
  display: none;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 2rem;
}

.player-turn.white .player-turn-white-text {
  display: block;
}

.player-turn.black .player-turn-black-text {
  display: block;
}

.promotion-menu {
  display: none;
}

.promotion-menu.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.promotion-menu-text {
  font-size: 1.4rem;
}

.promotion-menu.white {
  bottom: 100%;
}

.promotion-menu.black {
  top: 100%;
}

.promotion-menu-pieces {
  display: none;
}

.promotion-menu.black .promotion-menu-pieces.black,
.promotion-menu.white .promotion-menu-pieces.white {
  display: block;
  flex-direction: row;
  width: calc(var(--squares-size) * 5);
}

@keyframes zomin-zoomout {
  from {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
  to {
    transform: translateX(-50%) translateY(-50%) scale(0.75);
  }
}
